# Pandas

In [4]:
import pandas as pd
import numpy as np

In [5]:
pd.Series([1, 2, 3, 'jadi', 0, np.nan, -1])

0       1
1       2
2       3
3    jadi
4       0
5     NaN
6      -1
dtype: object

In [6]:
dates = pd.date_range("20210101", periods=6)
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.rand(6, 4), index=dates, columns=["A", "B", "C", "D"])
df

                   A         B         C         D
2021-01-01  0.263762  0.576488  0.582766  0.358793
2021-01-02  0.580341  0.357697  0.446655  0.056624
2021-01-03  0.592444  0.936686  0.641085  0.352337
2021-01-04  0.209888  0.769959  0.267024  0.959680
2021-01-05  0.982768  0.702739  0.235398  0.895812
2021-01-06  0.478685  0.487875  0.130898  0.175452

In [12]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [18]:
df["A"]

2021-01-01    0.263762
2021-01-02    0.580341
2021-01-03    0.592444
2021-01-04    0.209888
2021-01-05    0.982768
2021-01-06    0.478685
Freq: D, Name: A, dtype: float64

In [20]:
df.head(2)

                   A         B         C         D
2021-01-01  0.263762  0.576488  0.582766  0.358793
2021-01-02  0.580341  0.357697  0.446655  0.056624

In [23]:
df.tail(3)

                   A         B         C         D
2021-01-04  0.209888  0.769959  0.267024  0.959680
2021-01-05  0.982768  0.702739  0.235398  0.895812
2021-01-06  0.478685  0.487875  0.130898  0.175452

In [25]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.517981  0.638574  0.383971  0.466450
std    0.278048  0.207705  0.204623  0.375467
min    0.209888  0.357697  0.130898  0.056624
25%    0.317493  0.510029  0.243305  0.219673
50%    0.529513  0.639614  0.356840  0.355565
75%    0.589418  0.753154  0.548739  0.761558
max    0.982768  0.936686  0.641085  0.959680

In [26]:
df

                   A         B         C         D
2021-01-01  0.263762  0.576488  0.582766  0.358793
2021-01-02  0.580341  0.357697  0.446655  0.056624
2021-01-03  0.592444  0.936686  0.641085  0.352337
2021-01-04  0.209888  0.769959  0.267024  0.959680
2021-01-05  0.982768  0.702739  0.235398  0.895812
2021-01-06  0.478685  0.487875  0.130898  0.175452

In [27]:
df.mean()

A    0.517981
B    0.638574
C    0.383971
D    0.466450
dtype: float64

In [29]:
df["A"].mean()

np.float64(0.5179813054601132)

In [31]:
df[0:2]

                   A         B         C         D
2021-01-01  0.263762  0.576488  0.582766  0.358793
2021-01-02  0.580341  0.357697  0.446655  0.056624

In [35]:
df.sort_values(by="B")

                   A         B         C         D
2021-01-02  0.580341  0.357697  0.446655  0.056624
2021-01-06  0.478685  0.487875  0.130898  0.175452
2021-01-01  0.263762  0.576488  0.582766  0.358793
2021-01-05  0.982768  0.702739  0.235398  0.895812
2021-01-04  0.209888  0.769959  0.267024  0.959680
2021-01-03  0.592444  0.936686  0.641085  0.352337

In [38]:
df[df["A"]>0]

                   A         B         C         D
2021-01-01  0.263762  0.576488  0.582766  0.358793
2021-01-02  0.580341  0.357697  0.446655  0.056624
2021-01-03  0.592444  0.936686  0.641085  0.352337
2021-01-04  0.209888  0.769959  0.267024  0.959680
2021-01-05  0.982768  0.702739  0.235398  0.895812
2021-01-06  0.478685  0.487875  0.130898  0.175452